@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #D0D4D5;
}

.btn {
    border-radius: 50px;
    border-top-left-radius: 0px;
}

.half-underline::after {
    content: '';
    position: absolute;
    left: 0%;
    bottom: -2px;
    border-radius: 50px;
    width: 50%;
    height: 2px;
    background-color: black;
}